<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510074249526-h37f8qmfd6ppuvbd93f6a0fmcdi25ggc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510074249526-h37f8qmfd6ppuvbd93f6a0fmcdi25ggc</string>
	<key>API_KEY</key>
	<string>AIzaSyA1kBwiQen41w8HGsNKGucqbcW2M6NsngA</string>
	<key>GCM_SENDER_ID</key>
	<string>510074249526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gonzalofuentes.Intermedia-Code-Challenge</string>
	<key>PROJECT_ID</key>
	<string>intermedia-code-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>intermedia-code-challenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510074249526:ios:cbb146bf4839169e68d397</string>
</dict>
</plist>