<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_HASH</key>
	<string>51a3ecf2f92a23817992a2663183325e</string>
	<key>API_PUB_KEY</key>
	<string>3a783b25c80e1c44875356dd363f272d</string>
</dict>
</plist>
